YSPARR_HOST={{ ysparr_host | to_json }}
YSPARR_PORT={{ ysparr_port | string }}
YSPARR_UPSTREAM_BASE_URL={{ ysparr_upstream_base_url | to_json }}
YSPARR_UPSTREAM_API_KEY={{ ysparr_upstream_api_key | to_json }}
YSPARR_DATABASE_PATH={{ ysparr_database_path | to_json }}
YSPARR_RETENTION_COMPLETED={{ ysparr_retention_completed | to_json }}
YSPARR_RETENTION_FAILED={{ ysparr_retention_failed | to_json }}
YSPARR_RETENTION_ORPHANED={{ ysparr_retention_orphaned | to_json }}
